html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
}

.row {
    width: 100% !important;
    min-width: 100%;
    margin: 0;
}

.container {
    height: 100vh;
    background: url(../images/travel-1209515_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100% !important;
    margin: 0 !important;
}

.content {
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /*    background: rgba(28, 155, 233, 0.7);*/
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    text-align: center;
}

.vertical-align-content {
    /*    align-items: center;*/
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
}

.login-section {
    text-align: center;
}

#login-page {
    width: 300px;
    margin: auto;
}

.login-form {
    text-align: justify !important;
    width: 300px !important;
    padding: 0 !important;
    margin: 0 !important;
}

.form-footer {
    padding: 20px 0;
    padding-top: 0;
}

.caption-text {
    text-align: center;
    height: 100% !important;
    margin: auto !important;
    font-size: 60px;
    padding: 100px !important;
    color: #fff;
}

.caption-text p {
    padding: 0 !important;
    margin: 0;
}

.rd-logo img {
    width: 100px !important
}